body{
    background: #FFF;
}

#menu{
    top: 0;
    width: 12.5%;
}

.side-menu{
    width: 10%;
    background-color: #110130;
    height: 100%;
    position:absolute;
}

#button {
    cursor: pointer;
}