body{
    background: #FFF;
}

.top-menu{
    width:100%;
    background-color: #200259;
    height: 10%;
    top: 0;
    left: 0;
    position: absolute;
}

.side-menu{
    width: 10%;
    background-color: #110130;
    height: 100%;
    left: 0;
    top: 0;
    position:absolute;
}

.ui-slider{ 
    margin-top: 100px;
    margin-left: 100px;
}

#button {
    cursor: pointer;
}